/* Unscoped: v-html comment content (manually scoped to .user-watchlist) */
.user-watchlist .history-comment p {
	display: inline;
	line-height: var(--line-height-content);
}

.user-watchlist .history-comment section {
	display: inline;
	line-height: var(--line-height-content);
}

.user-watchlist .history-comment table {
	display: inline-block;
	background-color: var(--background-color-base);
	border: 1px solid var(--border-color-base);
	border-radius: 2px;
}
