@import "@wikimedia/codex/dist/codex.style.css";
@import "@wikimedia/codex-design-tokens/theme-wikimedia-ui.css";
@import "./tokens.css";
@import "./colors.css";
@import "../fakewiki/style/delta.css";

* {
	box-sizing: border-box;
}

html {
	/* background-color: var(--background-color-neutral); */
	background-color: var(--background-color-base);
}

body {
	/* max-width: 850px; */
	/* max-width: var(--min-width-breakpoint-tablet); */
	max-width: 100%;
	color: var(--color-base);
	margin: 0px auto;
	background-color: var(--background-color-base);
	/* padding: var(--spacing-100); */
	font-family: var(--font-family-system-sans);
	font-size: var(--font-size-medium);
	line-height: var(--line-height-medium);
	font-optical-sizing: auto;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-synthesis: style;
}

h1,
h2 {
	font-family: var(--font-family-heading-main);
	color: var(--color-emphasized);
	/* line-height: var(--line-height-medium) !important; */
	font-weight: var(--font-weight-bold);
}

h1 {
	/* font-size: var(--font-size-xxx-large); */
	padding-bottom: var(--spacing-50);
	/* margin-bottom: var(--spacing-65) */
}

p.subtle {
	color: var(--color-base--subtle);
	font-size: 0.9rem;
	/* font-size: var(--font-size-small); */
}

h2 {
	/* font-size: var(--font-size-xx-large); */
}

h3 {
	/* font-size: var(--font-size-x-large); */
}

ul,
ol {
	/* padding-left: var(--spacing-100); */
}

p {
	/* line-height: var(--line-height-content); */
}

.wikitable {
	background-color: var(--background-color-neutral-subtle, #f8f9fa);
	color: var(--color-base, #202122);
	margin: 1em 0;
	border: 1px solid var(--border-color-base, #a2a9b1);
	border-collapse: collapse;
}

.wikitable > tr > th,
.wikitable > tr > td,
.wikitable > * > tr > th,
.wikitable > * > tr > td {
	border: 1px solid var(--border-color-base, #a2a9b1);
	padding: 0.2em 0.4em;
}

.wikitable > tr > th,
.wikitable > * > tr > th {
	background-color: var(--background-color-neutral, #eaecf0);
	color: var(--color-base, #202122);
	text-align: center;
}
