section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.cdx-text-input {
	max-width: 100%;
	min-width: 0;
	width: 256px;
}

form > span {
	display: flex;
	gap: 0.25rem;
	width: 100%;
	flex-wrap: wrap;
}

.input-with-reset {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.input-with-reset .cdx-text-input {
	flex: 1;
	min-width: 120px;
}
